<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yana.febirizaldy.gurupaudapps">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="yana.febirizaldy.gurupaudapps.Quizzes.QuizDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name="yana.febirizaldy.gurupaudapps.TimeClock.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="yana.febirizaldy.gurupaudapps.learncolors.ColorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="yana.febirizaldy.gurupaudapps.Quizzes.StartQuizActivity"
            android:screenOrientation="portrait" />
        <activity android:name="yana.febirizaldy.gurupaudapps.QuizMarks.MarksList"
            android:screenOrientation="portrait"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.QuizMarks.QuizResultDashboard"/>
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Animals.AnimalsActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.QuizMarks.QuizResultDashboard"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.HumanBodyParts.PartsOfBodyActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.CalendarActivities.IslamicMonths"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.CalendarActivities.DaysNamesActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.CalendarActivities.MonthsNamesActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Shapes.ShapesActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.FruitsandVegetables.VegetablesActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.FruitsandVegetables.FruitsActivity"
            android:parentActivityName="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Dashboard.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Maths_Category.Tables.MathTables"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Maths_Category.Subtraction.MathSubtraction"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Maths_Category.Counting.MathCounting"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Maths_Category.Addition.MathAddition"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.Maths_Category.MathsDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.English_Category.TraceLetters_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.English_Category.EnglishAlphabets_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.English_Category.EnglishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="yana.febirizaldy.gurupaudapps.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>